body {
  margin: 0;
}

/*------------ navbar ------------*/
.navbar {
  top: 0;
  z-index: 1;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  background-color: rgb(64, 64, 64);
}

.container-fluid {
  z-index: 2;
  background-color: rgb(64, 64, 64);
}

.navbar-toggler {
  color: whitesmoke;
  background-color: whitesmoke;
}

.navbar-toggler:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.nav-link {
  color: whitesmoke;
  font-family: "Black Han Sans", sans-serif;
  position: relative;
  padding: 0;
  margin: 0 8px 0 8px;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: whitesmoke;
  transform: translateX(-50%);
  transition: 0.3s ease;
}

.nav-link:hover {
  color: seagreen;
}

.nav-link:hover::after {
  color: seagreen;
  width: 100%;
}

/*------------ header ------------*/
.container-header {
  text-align: center;
  width: 100%;
  height: 400px;
}

.text-animation {
  background-image: url(images/MainTitleImg_S.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: black;
  height: 400px;
  overflow: hidden;
  position: relative;
}

/* 글자별로 나타나기 */
.text-animation .introduce {
  animation: show-introduce 1s linear 1;
}

.text-title-group {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

.introduce-title {
  width: 100%;
  margin: 0;
  font-family: "Black Han Sans", sans-serif;
  font-size: 45px;
  animation: show-introduce 1s linear 1;
  text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.5);
}

.introduce-subtitle {
  width: 100%;
  margin: 0;
  font-family: "Black Han Sans", sans-serif;
  font-size: 30px;
  animation: show-introduce 1.2s linear 1;
  text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.5);
}

.introduce-p {
  width: 100%;
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  animation: show-introduce 1.5s linear 1;
  text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.5);
}

@keyframes show-introduce {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes positioning {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*------------ About ------------*/

/*부모요소*/
.container-about-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 100px;
  background-color: rgb(0, 0, 0);
  border: 4px dashed transparent;
  transition: border 0.5s ease;
}

.container-about-wrapper.clicked {
  height: 550px;
}

.container-about {
  width: 80%;
  height: 100%;
  margin-top: 15px;
}

.text-about-group {
  width: 100%;
  background-color: #f2f2f2;
  border: 10px double #ccc;
  border-radius: 10px;
  box-shadow: 4px 4px 6px rgba(255, 255, 255, 0.5);
  padding: 20px 0;
  cursor: pointer;
  transition: transform 0.3s ease-out;
  transform: scale(0);
}

.text-about-group.clicked {
  transform: scale(1);
}

#aboutTitle {
  cursor: pointer;
  margin: 0;
  font-size: 40px;
}

.about-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-family: "Black Han Sans", sans-serif;
  margin-bottom: 20px;
  color: whitesmoke;
  animation: positioning 1.5s ease-in-out 1;
  text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.5);
}

.about-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40%;
  height: 2px;
  background-color: whitesmoke;
  box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.5);
  transform-origin: bottom center;
  transform: scaleX(1);
}

.text-about-self h3 {
  font-size: 25px;
  font-family: "Black Han Sans", sans-serif;
}
.text-about-self {
  font-size: 15px;
  text-align: center;
}

.text-about-self p {
  font-family: "Sunflower", sans-serif;
}

/* 테이블 스타일 */
.about-table-group {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  table-layout: fixed;
  margin-top: 30px;
}

.about-tr {
  padding: 8px;
  border-style: none;
}

.about-td-1 {
  font-size: 25px;
  font-family: "Black Han Sans", sans-serif;
}

.about-td-2 {
  font-family: "Sunflower", sans-serif;
}

/*------------ skill ------------*/

.container-skill-wrapper {
  display: flex;
  color: black;
  padding: 0;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: rgb(0, 0, 0);
  border: 4px dashed transparent;
  transition: border 0.5s ease;
}

.container-skill-wrapper.clicked {
  height: 500px;
}

.container-skill {
  width: 80%;
  height: 100%;
  margin-top: 10px;
}

.text-skill-group {
  width: 100%;
  background-color: #f2f2f2;
  border: 10px double #ccc;
  border-radius: 10px;
  box-shadow: 4px 4px 6px rgba(255, 255, 255, 0.5);
  padding: 20px 0;
  cursor: pointer;
  transition: transform 0.3s ease-out;
  transform: scale(0);
}

.text-skill-group.clicked {
  transform: scale(1);
}

#skillTitle {
  cursor: pointer;
  margin: 0;
  font-size: 40px;
}

.skill-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Black Han Sans", sans-serif;
  margin-bottom: 20px;
  color: whitesmoke;
  animation: positioning 2s ease-in-out 1;
  text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.5);
}

.skill-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 35%;
  width: 35%;
  height: 2px;
  background-color: whitesmoke;
  transform-origin: bottom center;
  transform: scaleX(1);
  box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.5);
}

.skill-img-group {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
}

.img-skill-react {
  width: 350px;
  height: 200px;
  background-color: black;
  margin-right: 50px;
  border-radius: 10px;
}

.img-skill-html {
  width: 350px;
  height: 200px;
  background-color: bisque;
  border-radius: 10px;
  margin-left: 50px;
}

/*------------ Archive ------------*/

.container-archive-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 100px;
  background-color: rgb(0, 0, 0);
  border: 4px dashed transparent;
  transition: border 0.5s ease;
}

.container-archive-wrapper.clicked {
  height: 500px;
}

.container-archive {
  width: 80%;
  height: 100%;
  margin-top: 15px;
}

.text-archive-group {
  width: 100%;
  background-color: #f2f2f2;
  border: 10px double #ccc;
  border-radius: 10px;
  box-shadow: 4px 4px 6px rgba(255, 255, 255, 0.5);
  padding: 20px 0;
  cursor: pointer;
  transition: transform 0.3s ease-out;
  transform: scale(0);
}

.text-archive-group.clicked {
  transform: scale(1);
}

#archiveTitle {
  cursor: pointer;
  margin: 0;
  font-size: 40px;
}

.archive-title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  font-family: "Black Han Sans", sans-serif;
  margin-bottom: 20px;
  color: whitesmoke;
  animation: positioning 2.5s ease-in-out 1;
  text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.5);
}

.archive-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35%;
  height: 2px;
  background-color: whitesmoke;
  transform-origin: bottom center;
  transform: scaleX(1);
  box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.5);
}

.archive-git-group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.archive-git img {
  width: 300px;
  height: 150px;
  background-color: white;
  border: 4px double black;
  border-radius: 10px;
}

.archive-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.archive-content ul {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.archive-content li {
  text-align: left;
  font-family: "Sunflower", sans-serif;
  font-size: 20px;
}

/*------------ Project ------------*/

.container-project-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 100px;
  background-color: rgb(0, 0, 0);
  border: 4px dashed transparent;
  transition: border 0.5s ease;
}

.container-project-wrapper.clicked {
  height: 1000px;
}

.container-project {
  width: 80%;
  height: 100%;
  margin-top: 15px;
}

#projectTitle {
  cursor: pointer;
  margin: 0;
  font-size: 40px;
}

.project-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Black Han Sans", sans-serif;
  margin-bottom: 20px;
  color: whitesmoke;
  animation: positioning 2s ease-in-out 1;
  text-shadow: 4px 4px 6px rgba(255, 255, 255, 0.5);
}

.project-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 35%;
  width: 35%;
  height: 2px;
  background-color: whitesmoke;
  transform-origin: bottom center;
  transform: scaleX(1);
  box-shadow: 4px 4px 6px rgba(255, 255, 255, 0.5);
}

.text-project-group {
  height: 100%;
}

.project-cafe-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
  border: 10px double #ccc;
  border-radius: 10px;
  box-shadow: 4px 4px 6px rgba(255, 255, 255, 0.5);
  padding: 20px 0;
  margin-bottom: 50px;
  cursor: pointer;
  transition: transform 0.3s ease-out;
  transform: scale(0);
}

.project-cafe-group.clicked {
  transform: scale(1);
}

.project-cafe-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-cafe-link img {
  width: 500px;
  height: 300px;
  border: 2px double black;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.cafe-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  flex-direction: column;
  width: 50%;
}

.cafe-content p {
  text-indent: 10px;
  font-family: "Sunflower", sans-serif;
}

.cafe-title {
  font-size: 30px;
  font-family: "Black Han Sans", sans-serif;
  margin-top: 20px;
}

.cafe-table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  font-family: "Sunflower", sans-serif;
}

.cafe-table tr,
.cafe-table td {
  padding: 8px;
}

.table-td-c1,
.table-td-a1 {
  width: 100px;
}

.table-td-c2,
.table-td-a2 {
  width: 250px;
  text-align: justify;
}

.table-td-c2 a,
.table-td-a2 a {
  text-decoration: none;
  color: black;
}

.project-ani-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
  border: 10px double #ccc;
  border-radius: 10px;
  box-shadow: 4px 4px 6px rgba(255, 255, 255, 0.5);
  padding: 20px 0;
  cursor: pointer;
  transition: transform 0.3s ease-out;
  transform: scale(0);
}

.project-ani-group.clicked {
  transform: scale(1);
}

.project-ani-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-ani-link img {
  width: 500px;
  height: 300px;
  border: 2px double black;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.ani-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  flex-direction: column;
  width: 50%;
}

.ani-content p {
  text-indent: 10px;
  font-family: "Sunflower", sans-serif;
}

.ani-title {
  font-size: 30px;
  font-family: "Black Han Sans", sans-serif;
  margin-top: 20px;
}

.ani-table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  font-family: "Sunflower", sans-serif;
}

.ani-table tr,
.ani-table td {
  padding: 8px;
}

/*------------ Career ------------*/

.container-career-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
  height: 100px;
  background-color: rgb(0, 0, 0);
  border: 4px dashed transparent;
  transition: border 0.5s ease;
}

.container-career-wrapper.clicked {
  height: 600px;
}

.container-career {
  width: 80%;
  height: 100%;
  margin-top: 15px;
}

.career-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-family: "Black Han Sans", sans-serif;
  margin-bottom: 20px;
  color: whitesmoke;
  animation: positioning 1.5s ease-in-out 1;
  text-shadow: 4px 4px 6px rgba(255, 255, 255, 0.5);
}

.career-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 35%;
  height: 2px;
  background-color: whitesmoke;
  transform-origin: bottom center;
  transform: scaleX(1);
  box-shadow: 4px 4px 6px rgba(255, 255, 255, 0.5);
}

#careerTitle {
  cursor: pointer;
  margin: 0;
  font-size: 40px;
}

.text-career-group {
  height: 100%;
}

.career-group-timeline {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  background-color: #f2f2f2;
  border: 10px double #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 4px 4px 6px rgba(255, 255, 255, 0.5);
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease-out;
  transform: scale(0);
}

.career-group-timeline.clicked {
  transform: scale(1);
}

.career-box {
  padding: 10px;
  background-color: #fff;
  border: 3px solid #ccc;
  border-radius: 5px;
  width: 250px;
  display: block;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
  position: absolute;
}

.top-left {
  width: 30%;
  top: 15%;
  left: 15%;
}

.top-right {
  width: 30%;
  top: 15%;
  right: 15%;
}

.bottom-left {
  width: 30%;
  bottom: 15%;
  left: 15%;
}

.bottom-right {
  width: 30%;
  bottom: 15%;
  right: 15%;
}

.career-subtitle {
  font-weight: bold;
  font-family: "Sunflower", sans-serif;
  margin-bottom: 5px;
}

.career-period {
  color: #777;
  font-size: 12px;
  margin-bottom: 5px;
}

.career-description {
  font-size: 14px;
  font-family: "Sunflower", sans-serif;
}

/*------------ footer ------------*/

.container-footer-wrapper {
  text-align: center;
  background-color: rgb(49, 47, 47);
  height: 40px;
  padding: 10px;
  color: white;
}

.footer-content a {
  color: white;
  text-decoration: none;
}

/*------------ up-scroll ------------*/
.up-scroll {
  font-size: 40px;
  text-decoration: none;
  color: white;
  text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.5);
  margin-right: 2%;
}

.up-scroll:hover {
  color: rgba(255, 254, 254, 0.5);
}
/*<--->

/*---------- 모바일 가로, 테블릿 세로 (해상도 ~ 479px) ----------*/
@media all and (max-width: 479px) {
  /* navbar */

  .nav-link {
    padding: 0;
    margin: 8px 0 8px 0;
  }

  .nav-link::after {
    left: 0;
    transform: translateY(10%);
  }

  .nav-link:hover::after {
    width: 17%;
  }

  /* header */

  .introduce-title {
    font-size: 35px;
  }

  .introduce-subtitle {
    font-size: 25px;
  }

  .introduce-p {
    font-size: 12px;
  }

  /*---------- about ----------*/
  .container-about-wrapper {
    height: 100px;
  }

  .container-about-wrapper.clicked {
    height: 450px;
  }

  /* .about-title,
  .skill-title {
    font-size: 20px;
  } */

  .about-title::after {
    width: 70%;
  }

  #aboutTitle,
  #skillTitle,
  #archiveTitle,
  #projectTitle,
  #careerTitle {
    font-size: 30px;
  }

  .text-about-group {
    height: 300px;
  }

  .text-about-self p {
    font-size: 12px;
  }

  .about-td-1 {
    font-size: 20px;
  }

  .about-td-2 {
    font-size: 10px;
  }

  /*---------- skill ----------*/
  .container-skill-wrapper {
    height: 100px;
  }

  .container-skill-wrapper.clicked {
    height: 300px;
  }

  .skill-title::after {
    left: 30%;
    width: 45%;
  }

  .text-skill-group {
    height: 150px;
  }

  .skill-img-group {
    height: 100px;
  }

  .img-skill-react {
    width: 120px;
    height: 60px;
    margin-right: 15px;
  }

  .img-skill-html {
    width: 120px;
    height: 60px;
    margin-left: 15px;
  }

  /*---------- archive ----------*/
  .container-archive-wrapper {
    height: 100px;
  }

  .container-archive-wrapper.clicked {
    height: 300px;
  }

  .archive-title {
    font-size: 30px;
  }

  .archive-title::after {
    width: 65%;
  }

  .archive-git img {
    width: 150px;
    height: 70px;
  }

  .archive-content ul {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
  }

  .archive-content li {
    font-size: 12px;
  }

  /*---------- project -----------*/
  .container-project-wrapper {
    height: 100px;
  }

  .container-project-wrapper.clicked {
    height: 1000px;
  }

  .project-title {
    font-size: 30px;
  }

  .project-title::after {
    left: 20%;
    width: 60%;
  }

  .project-cafe-group {
    flex-direction: column;
  }

  .project-cafe-link img {
    width: 270px;
    height: 150px;
  }

  .cafe-title {
    font-size: 20px;
    margin-top: 10px;
  }

  .cafe-content {
    width: 100%;
    padding: 0 30px;
    font-size: 12px;
  }

  .cafe-table td {
    padding: 3px;
  }

  .table-td-c1 {
    font-size: 10px;
  }

  .table-td-c2 {
    font-size: 10px;
  }

  .project-ani-group {
    flex-direction: column;
  }

  .project-ani-link img {
    width: 270px;
    height: 150px;
  }

  .ani-title {
    font-size: 20px;
    margin-top: 10px;
  }

  .ani-content {
    width: 100%;
    padding: 0 30px;
    font-size: 12px;
  }

  .ani-table td {
    padding: 3px;
  }

  .table-td-a1 {
    font-size: 10px;
  }

  .table-td-a2 {
    font-size: 10px;
  }

  /*---------- Career ----------*/
  .container-career-wrapper {
    height: 100px;
  }

  .container-career-wrapper.clicked {
    height: 380px;
  }

  .career-title {
    font-size: 30px;
  }

  .career-title::after {
    width: 50%;
  }

  .career-group-timeline {
    height: 270px;
  }

  .top-left {
    width: 40%;
    top: 10%;
    left: 7%;
  }

  .top-right {
    width: 40%;
    top: 10%;
    right: 7%;
  }

  .bottom-left {
    width: 40%;
    bottom: 10%;
    left: 7%;
  }

  .bottom-right {
    width: 40%;
    bottom: 10%;
    right: 7%;
  }

  .career-subtitle {
    font-size: 10px;
  }

  .career-period {
    font-size: 8px;
  }

  .career-description {
    font-size: 8px;
  }
}

/* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 500px) and (max-width: 1023px) {
  /* navbar */

  .nav-link {
    padding: 8px;
  }
  .nav-link::after {
    left: 8px;
    transform: translateY(10%);
  }

  .nav-link:hover::after {
    width: 10%;
  }

  /* about */
  .about-title::after {
    width: 50%;
  }

  /* skill */
  .container-skill-wrapper {
    height: 100px;
  }

  .container-skill-wrapper.clicked {
    height: 370px;
  }

  .skill-title::after {
    left: 32%;
    width: 40%;
  }

  .text-skill-group {
    height: 200px;
  }

  .skill-img-group {
    height: 150px;
  }

  .img-skill-react {
    width: 220px;
    height: 120px;
    margin-right: 20px;
  }

  .img-skill-html {
    width: 220px;
    height: 120px;
    margin-left: 20px;
  }

  /* Archive */
  .container-archive-wrapper {
    height: 100px;
  }

  .container-archive-wrapper.clicked {
    height: 450px;
  }

  .archive-title::after {
    width: 50%;
  }

  /* Project */
  .container-project-wrapper {
    height: 100px;
  }

  .container-project-wrapper.clicked {
    height: 1400px;
  }

  .project-title::after {
    left: 32%;
    width: 40%;
  }

  .project-cafe-group,
  .project-ani-group {
    display: flex;
    flex-direction: column;
    align-items: center; /* 이미지와 컨텐츠를 수직으로 가운데 정렬 */
    width: 100%;
    margin: auto;
    background-color: #f2f2f2;
    border: 10px double #ccc;
    border-radius: 10px;
    box-shadow: 4px 4px 6px rgba(255, 255, 255, 0.5);
    padding: 20px 0;
    margin-bottom: 50px;
  }

  .project-cafe-link img,
  .project-ani-link img {
    width: 350px;
    height: 175px;
    border: 2px solid black;
    margin: 20px;
    align-self: center;
  }

  .cafe-content,
  .ani-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
  }

  .cafe-title,
  .ani-title {
    font-size: 30px;
    margin-top: 20px;
  }

  /* Career section */
  .container-career-wrapper {
    height: 100px;
  }

  .container-career-wrapper.clicked {
    height: 550px;
  }

  .top-left {
    width: 37%;
    top: 20%;
    left: 10%;
  }

  .top-right {
    width: 37%;
    top: 20%;
    right: 10%;
  }

  .bottom-left {
    width: 37%;
    bottom: 20%;
    left: 10%;
  }

  .bottom-right {
    width: 37%;
    bottom: 20%;
    right: 10%;
  }

  .career-subtitle {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 5px;
  }

  .career-period {
    color: #777;
    font-size: 12px;
    margin-bottom: 5px;
  }

  .career-description {
    font-size: 12px;
  }
}

/* 일반모니터 화면 크기 */
@media (min-width: 1367px) {
  .text-animation {
    background-size: cover;
  }
}
