body {
  margin: 0;
}

/* navbar */
nav {
  position: fixed;
}

.container-fluid {
  z-index: 1;
}

.navbar-toggler:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-link:hover {
  color: seagreen;
}

/* header */
header {
  text-align: center;
  width: 100%;
  height: 400px;
}

.text-animation {
  background-image: url(/profile/images/Profile-title-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: black;
  margin-top: 5px;
  height: 400px;
  overflow: hidden;
}

/* 글자별로 나타나기 */
.text-animation .introduce {
  animation: show-introduce 1s linear 1;
}

.text-title-group {
  margin-top: 200px;
}

.introduce-title {
  font-family: "Black Han Sans", sans-serif;
  font-size: 45px;
}

.introduce-subtitle {
  font-family: "Black Han Sans", sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
}

.introduce-p {
  color: black;
  margin-bottom: 50px;
  font-size: 15px;
  font-weight: bold;
}

@keyframes show-introduce {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*부모요소*/
.container-wrapper {
  text-align: center;
}

.container {
  display: inline-block;
  color: green;
  padding: 0;
  margin-left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  width: 80%;
}
/* About */
.text-about-group {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  background-color: #f2f2f2;
  border: 3px solid #ccc;
  border-radius: 10px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px 0;
}

.text-about {
  font-size: 40px;
  font-family: "Black Han Sans", sans-serif;
  margin-bottom: 30px;
}

.text-about-self h3 {
  font-size: 25px;
  font-family: "Black Han Sans", sans-serif;
}
.text-about-self {
  font-size: 15px;
  text-align: center;
}

/* 테이블 스타일 */
.about-table-group {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  table-layout: fixed;
}

.about-tr {
  padding: 8px;
  border-style: none;
}

.about-td-1 {
  font-size: 25px;
  font-family: "Black Han Sans", sans-serif;
}

/* skill */
.text-skill {
  width: 100%;
  height: 50vh;
  background-color: #f2f2f2;
  border: 3px solid #ccc;
  border-radius: 10px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
  padding: 20px 0;
}

.text-skill-list {
  font-size: 40px;
  font-family: "Black Han Sans", sans-serif;
}

.img-skill-react {
  width: 200px;
  height: 100px;
  background-color: black;
}

.img-skill-html {
  width: 200px;
  height: 100px;
  background-color: bisque;
}

/*<--->





/* 스마트폰 화면 크기 */
@media (max-width: 414px) {
  .text-animation {
    background-size: cover;
  }
}

/* 노트북 화면 크기 */
@media (min-width: 768px) and (max-width: 1366px) {
  .text-animation {
    background-size: cover;
  }
}

/* 일반모니터 화면 크기 */
@media (min-width: 1367px) {
  .text-animation {
    background-size: cover;
  }
}
